In [79]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [80]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop('EIN', axis=1)
application_df = application_df.drop('NAME', axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [81]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [82]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [83]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T17", "T15", "T29", "T25", "T14", "T2", "T12", "T13", "T9"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [84]:
# Look at CLASSIFICATION value counts for binning
valuecounts = application_df.value_counts("CLASSIFICATION")
valuecounts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [85]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(valuecounts[valuecounts>1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
dtype: int64

In [86]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(valuecounts[valuecounts < 1883].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [87]:
# Convert categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(application_df)
X_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [88]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, random_state=35)

In [89]:
# Create StandardScaler
scaler = StandardScaler()

# Fit StandardScaler
X_scaler = scaler.fit(X_train)

# Scale data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [90]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid")) 

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid")) 

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 80)                3600

 dense_25 (Dense)            (None, 30)                2430

 dense_26 (Dense)            (None, 1)                 31

=================================================================
Total params: 6,061
Trainable params: 6,061
Non-trainable params: 0
_________________________________________________________________

Final accuracy on the test data was 72.6%

Both the training and testing accuracy scores were lower than the scores from my original model.

In [91]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [92]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.1261 - accuracy: 0.9579
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0052 - accuracy: 0.9995
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0022 - accuracy: 0.9998
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0015 - accuracy: 0.9997
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 7.8420e-04 - accuracy: 0.9999
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 5.0635e-04 - accuracy: 0.9999
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 4.5152e-04 - accuracy: 0.9999
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 2.1664e-04 - accuracy: 1.0000
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 2.2157e-04 - accuracy: 0.9999
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 1.1832e-04 - accuracy: 1.0000
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 1.1190e-04 - accuracy: 0.9999
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 3.3273e-05 - accuracy: 1.0000
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 3.8154e-05 - accuracy: 1.0000
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 6.3086e-04 - accuracy: 0.9998
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 4.0554e-04 - accuracy: 0.9999
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 2.0788e-05 - accuracy: 1.0000
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4075e-05 - accuracy: 1.0000
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 1.1482e-05 - accuracy: 1.0000
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 9.0962e-06 - accuracy: 1.0000
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 6.9902e-06 - accuracy: 1.0000
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 5.2205e-06 - accuracy: 1.0000
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 3.7921e-06 - accuracy: 1.0000
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 2.7100e-06 - accuracy: 1.0000
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 1.8979e-06 - accuracy: 1.0000
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3089e-06 - accuracy: 1.0000
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 8.9816e-07 - accuracy: 1.0000
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 6.1043e-07 - accuracy: 1.0000
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 4.1492e-07 - accuracy: 1.0000
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 2.8078e-07 - accuracy: 1.0000
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 1.9024e-07 - accuracy: 1.0000
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2938e-07 - accuracy: 1.0000
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 4.4394e-04 - accuracy: 0.9999
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 8.7076e-08 - accuracy: 1.0000
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 7.9838e-08 - accuracy: 1.0000
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 7.4931e-08 - accuracy: 1.0000
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3729e-08 - accuracy: 1.0000
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 7.2682e-08 - accuracy: 1.0000
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 7.1313e-08 - accuracy: 1.0000
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 7.0036e-08 - accuracy: 1.0000
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 6.8341e-08 - accuracy: 1.0000
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 6.6405e-08 - accuracy: 1.0000
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 6.3405e-08 - accuracy: 1.0000
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 5.9740e-08 - accuracy: 1.0000
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 7.2175e-04 - accuracy: 0.9999
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 7.1436e-08 - accuracy: 1.0000
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 7.0381e-08 - accuracy: 1.0000
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 7.0014e-08 - accuracy: 1.0000
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 6.9663e-08 - accuracy: 1.0000
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 6.9225e-08 - accuracy: 1.0000
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 6.8422e-08 - accuracy: 1.0000
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 6.7701e-08 - accuracy: 1.0000
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 6.6608e-08 - accuracy: 1.0000
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 6.5100e-08 - accuracy: 1.0000
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 6.2904e-08 - accuracy: 1.0000
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 6.0168e-08 - accuracy: 1.0000
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 5.6739e-08 - accuracy: 1.0000
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 5.2377e-08 - accuracy: 1.0000
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 4.7212e-08 - accuracy: 1.0000
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 4.1312e-08 - accuracy: 1.0000
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 3.4847e-08 - accuracy: 1.0000
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 2.8555e-08 - accuracy: 1.0000
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 2.5016e-08 - accuracy: 1.0000
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 2.2559e-08 - accuracy: 1.0000
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 2.0662e-08 - accuracy: 1.0000
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 1.9172e-08 - accuracy: 1.0000
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 1.8028e-08 - accuracy: 1.0000
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 1.7141e-08 - accuracy: 1.0000
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 1.6452e-08 - accuracy: 1.0000
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 1.5928e-08 - accuracy: 1.0000
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 1.5508e-08 - accuracy: 1.0000
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 1.5154e-08 - accuracy: 1.0000
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4842e-08 - accuracy: 1.0000
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4587e-08 - accuracy: 1.0000
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4354e-08 - accuracy: 1.0000
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 1.4166e-08 - accuracy: 1.0000
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3988e-08 - accuracy: 1.0000
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3805e-08 - accuracy: 1.0000
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3666e-08 - accuracy: 1.0000
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3524e-08 - accuracy: 1.0000
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3396e-08 - accuracy: 1.0000
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3277e-08 - accuracy: 1.0000
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3171e-08 - accuracy: 1.0000
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 1.3082e-08 - accuracy: 1.0000
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2995e-08 - accuracy: 1.0000
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2914e-08 - accuracy: 1.0000
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2847e-08 - accuracy: 1.0000
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2761e-08 - accuracy: 1.0000
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2711e-08 - accuracy: 1.0000
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2643e-08 - accuracy: 1.0000
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2595e-08 - accuracy: 1.0000
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2538e-08 - accuracy: 1.0000
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2485e-08 - accuracy: 1.0000
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2429e-08 - accuracy: 1.0000
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2389e-08 - accuracy: 1.0000
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2339e-08 - accuracy: 1.0000
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2293e-08 - accuracy: 1.0000
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2248e-08 - accuracy: 1.0000
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2210e-08 - accuracy: 1.0000
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2165e-08 - accuracy: 1.0000
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 1.2117e-08 - accuracy: 1.0000

In [93]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 5.4446e-08 - accuracy: 1.0000 - 387ms/epoch - 1ms/step
Loss: 5.444579898039592e-08, Accuracy: 1.0

In [94]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_optimization.h5")